<div class="form-group">
    <input type="text" class="form-control" placeholder="Enter Location" ng-model="currentlocation" />
</div>

<div class="form-group col-sm-12 col-xs-12 clear-padding" ng-repeat="post in news" >
    <div class="col-xs-3 col-sm-3 clear-padding">
        <img src=""  />
    </div>
    <div class="col-xs-9 col-sm-9 clear-padding">
        <a href="" > {{post.header}}</a>
        <div>
            {{post.content}}
        </div>
    </div>
    <span>{{post.ts}}</span>
    <span>{{post.createdBy}}</span>
</div>