<div class="col-xs-12 col-s-12" style="padding:0" ng-init = "getFeed()">
    <h3 style="margin-top: 0; margin-bottom: 1%;color: #0f75bc">{{post.title}}</h3>
    <span style="font-size: 9px; color: #222"><b>posted at {{post.createon}} </b></span>
    <span class="glyphicon glyphicon-share" ng-click='share(post.news)' style="color: #0f75bc; float:right;margin-left:3%;cursor:pointer"></span>
    <span class="glyphicon glyphicon-remove" ng-click='alert("Abuse Reported")' style="color: red;float:right;cursor:pointer"></span>
    <div class="col-xs-12 col-sm-12" style="margin-top:5%">
        {{post.news}}
    </div>
</div>