<!DOCTYPE html>
<!--HTML5 doctype-->
<html>

<head>

    <title>TharaLocal- News app</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!--
    <link rel="stylesheet" type="text/css" href="lib/appframework/icons.css" />
    <link rel="stylesheet" type="text/css" href="lib/appframework/af.ui.css" />
-->
    
    <style>
        .clear-padding {
            padding: 0;
        }    
    </style>

    <script type="text/javascript" charset="utf-8" src="lib/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="lib/fastclick.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="lib/appframework/appframework.ui.min.js"></script>
        
    <script src='cordova.js'></script>
      
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />  
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="modules/login/login.js"></script>
    <script type="text/javascript" src="modules/home/home.js"></script>

</head>

<body ng-app = "TharaLocal">
    <div id="wrapper" ng-controller = "LoginController">
        <nav class="navbar navbar-default" style="background-color: #0f75bc">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="background-color: #ddd">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color:#fff">Local Times</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" ng-click="navigateTo('/home')" style="color:#fff;cursor:pointer">Home <span class="sr-only">(current)</span></a></li>
        <li><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" ng-click="navigateTo('/postfeed')" style="color:#fff;cursor:pointer">Post Feeds</a></li>
        </ul>
          </div></div>
</nav>
        <div id = "page-wrapper">
            <div class ="container-fluid">
                <div ui-view></div>
            </div>
        </div>
    </div>
</body>
</html>